body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #333;
}

.header__snippet {
	background-color: rgb(255, 217, 0);
	color: black;
}

.header__snippet h1 {
	padding: 0;
	margin: 0;
	text-align: center;
	font-size: small;
}

.header {
	text-align: center;
	font-size: larger;
	background-color: black;
	color: rgb(255, 217, 0);
	padding: 10px;
	font-family: Roboto;
}

.banner {
	position: relative;
	height: 50vh;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
} 

.banner img {
	position: absolute;
	position: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 70%;
}

.banner h1 {
	position: absolute;
	word-wrap: break-word;
	text-align: center;
	color: white;
	padding: 0px 100px 0px 100px;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	font-family: Montserrat;
	width: 60vw;
}

.container {
	max-width: 100vw;
	align-items: center;
	justify-content: center;
	display: flex;
	margin: 0 auto;
	background-color: white;
}

.content {
	justify-content: center;
	align-items: center;
	width: 70vw;
	padding: 20px;
	background-color: white;
	
}

.footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
}

.add-to-cart {
	display: inline-block;
	padding: 10px 20px;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	background-color: #2ecc71;
	border: 2px solid #27ae60;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.add-to-cart:hover {
	background-color: #27ae60;
	border-color: #2ecc71;
	cursor: pointer;
}

.disclaimer {
	position: fixed;
	top: 65vh;
	right: -15vw;
	z-index: 9999;
	transform: rotate(45deg);
	transform-origin: top right;
	width: 60vw;
	height: 12vh;
	background-color: red;
	display: flex;
	align-items: center;
	justify-content: center;
}  

.disclaimer p {
	font-size: 15px;
	font-weight: 700;
	text-align: center;
	word-wrap: break-word;
	width: 20vw;
	
}






/* For screens smaller than 768px */
@media (max-width: 767px) {
	.container {
		max-width: 100%;
		padding: 0 20px;
	}
	
	.disclaimer {
		top: 45vh;
		right: -10vw;
		transform-origin: top right;
		transform: rotate(45deg);
		width: 600px;
		height: 80px;
	}
	
	.disclaimer p {
		font-size: 15px;
		font-weight: 700;
		text-align: center;
		word-wrap: break-word;
		width: 45vw;
		
	}
}


/* For screens larger than 768px */
@media (min-width: 768px) {
	.container {
		max-width: 960px;
		margin: 0 auto;
	}
}
